/* Applies to the entire website */
body {
  font-family: "Arial";
  margin: 0px;
}

/* Logo */
#logo {
  width: 180px;
  height: 120px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

/* Header */
#header {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}
#header ul {
  display: flex;
  list-style: none;
  margin-top: 20px;
}
#header li {
  margin-right: 35px;
  font-size: 14pt;
}
#header a {
  text-decoration: none;
  color: black;
}
#donate {
  background-color: #aad3dc;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
#header input {
  background-color: #ECE8E8;
  height: 23px;
}
#header button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

/* Background */
#background {
  margin-top: 20px;
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

/* Description */
.info {
  margin-left: 20px;
  font-size: 24px;
}
#description {
  margin: 20px;
}
#description h1 {
  margin: 0px;
  font-size: 24px;
}
#description p {
  text-align: justify;
}

/* Container for Donation Amounts, Contact Information,
Billing Addresss, Payment Information, and Images */
#container {
  display: flex;
}

/* Donation Amounts */
#donation-amounts {
  margin: 20px;
  width: 50vw;
  max-width: 625px;
}
#donation-amounts button {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  background-color: #aad3dc;
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 60px;
  cursor: pointer;
}

/* Contact Information */
.contact-info {
  display: flex;
}
.contact-info h6 {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 5px;
}
.first-name {
  width: 230px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8;
}
.last-name {
  width: 230px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8
}
.email {
  width: 280px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  margin-top: 5px;
  background-color: #ECE8E8
}
.phone-num {
  width: 200px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8
}

/* Billing Address */
.billing-add {
  display: flex;
}
.billing-add h6 {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 5px;
  }
.address1 {
  width: 515px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8;
}
.address2 {
  width: 515px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8;
}
.city {
  width: 150px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8
}
.state {
  width: 150px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8
}
.zip-code {
  width: 100px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8
}

/* Payment Information */
.payment-info {
  display: flex;
}
.payment-info h6 {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 5px;
}
.name-on-card {
  width: 515px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8;
}
.card-number{
  width: 350px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8;
}
.card-type {
  width: 150px;
  height: 32px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: #ECE8E8;
}
.expiry-date {
  width: 80px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8;
  text-align: center;
}
.cvv {
  width: 80px;
  height: 25px;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #ECE8E8;
}
.donate-b {
  margin-right: 5px;
  margin-left: 210px;
  margin-bottom: 3px;
  background-color: #aad3dc;
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.image {
  width: 25vw;
  height: 25vh;
  object-fit: cover;
}